# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
postgres_env/
py_test/

# ===== dbt =====
target/
dbt_packages/
logs/
.env

# ===== Airflow =====
airflow.db
logs/
__pycache__/

# ===== OS / Editor =====
.DS_Store
.vscode/
.idea/

# ===== Credentials =====
*.env
*.key
*.pem
profiles.yml
